/* about.css */
.aboutContainer {
  max-width: 1200px;
  margin: auto;
  padding: 20px;
  font-family: 'Helvetica Neue', Arial, sans-serif;
  color: #333; /* Base text color for consistency */
  background-color: #fff; /* Ensures background consistency */
}

.picturesSection {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(250px, 1fr));
  gap: 20px;
  padding: 20px;
  background-color: #f5f5f5; /* Light background for this section */
  border-radius: 8px;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
}

.organizationPicture {
  width: 100%;
  height: auto;
  border-radius: 8px;
  transition: transform 0.3s ease, box-shadow 0.3s ease;
}

.organizationPicture:hover {
  transform: translateY(-5px);
  box-shadow: 0 8px 16px rgba(0,0,0,0.2);
}

.citationsSection, .peopleSection {
  padding: 20px;
  background: #ffffff;
  border-radius: 8px;
  box-shadow: 0 2px 6px rgba(0,0,0,0.1);
  margin-bottom: 20px;
}

.citation, .personProfile {
  background-color: #fafafa;
  border-radius: 8px;
  padding: 20px;
  margin: 0 10px; /* Give some space inside the carousel */
  box-shadow: 0 2px 5px rgba(0,0,0,0.1);
}

.personProfile {
  display: flex;
  align-items: center;
  gap: 20px;
}

.profilePicture {
  width: 120px;
  height: 120px;
  object-fit: cover;
  border-radius: 50%;
  border: 3px solid #ddd; /* Adds a nice border around the image */
}

h2 {
  font-size: 24px;
  color: #2c3e50;
}

h3 {
  font-size: 18px;
  margin-top: 5px;
  color: #34495e;
}

blockquote {
  font-style: italic;
  color: #6c757d;
  margin-top: 10px;
}

/* Slick Carousel Customization */
.slick-slide {
  display: flex;
  justify-content: center;
  align-items: center;
}

.slick-dots {
  bottom: -25px; /* Position the navigation dots below the slider */
}

.slick-arrow {
  z-index: 1; /* Ensure arrows are above content */
}

/* Responsive adjustments */
@media (max-width: 768px) {
  .personProfile {
    flex-direction: column;
    align-items: center;
    text-align: center;
  }

  .profilePicture {
    width: 150px;
    height: 150px;
  }

  .picturesSection, .citationsSection, .peopleSection {
    padding: 10px;
  }

  h2 {
    font-size: 20px;
  }

  h3 {
    font-size: 16px;
  }
}
